/* logo */
.skin-blue .main-header .logo {
  background-color: #00FF87;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #00FF87;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #00FF87;
} 

/* box color */
.box.box-primary {
  border-top-color: #340C39;
}
